@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c3c3c;

  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-card {
  background-color: #29292d;
  border-radius: 5px;
  padding: 32px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.card-body img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 16px;
}
